.contact-us-form-banner{
    background: linear-gradient(to bottom, #202c62a4, #202c6231), url(../../../assets/call.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10%;
}

.contact-us-form-banner-h2{
    color: white;
    font-size: 50px;
}

.contact-us-form-banner-p{
    color: white;
    font-size: 25px;
}

.the-contact-us-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 90%;
    margin: auto;
}

.the-contact-us-form-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.the-contact-us-form-labels{
    margin-top: 10px;
    color: #202c62;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
}

.the-contact-us-form-input{
    width: 400px;
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #202c62;
    box-shadow: 10px, 2px, 10px #ccc;
}

.contact-us-form-button{
    width: 150px;
    background-color: #202c62;
    color: white;
    border: none;;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
}

.contact-us-form-button:hover{
    cursor: pointer;
    background-color: red;
}

textarea{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 70vw;
    height: 300px;
}

textarea:focus{
    border-color: #202c62 !important;
    background-color: #202c620e;
}